/.bundle
/log/*.log
/tmp
app/assets/components
config/database.yml
.DS_Store
*.swp
*.swo
.powrc
coverage
.rvmrc
.idea
*.iml
*.ipr
*~
logfile
node_modules
public/assets
npm-debug.log
doc/html
.ruby-version
.ruby-gemset
.autotest
config/initializers/d.rb
*.orig
public:s3_path_url
.foreman
.env
.idea
node_modules
db/development.sqlite3
/certs
sauce_connect.log
latest_prod_dump
latest_stage_dump
profiles
.powenv
*.sublime-project
*.sublime-workspace
vendor/bundle
*/target
*/classes
*/checkouts
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
*.ensime_cache
